<section class="s-form">
    <div class="container" style="padding: 0">
        <img src="img/pic_1_0526.png" class="img-match-screen">
        <div class="sec-form">
            <p class="form-tip">领取免费试听课，请填写以下信息 <i class="iconfont">&#xe73b;</i></p>
            <div class="part-trial-form leo-form">
                <div class="input-container">
                    <div class="input-div">
                        <i class="input-icon iconfont">&#xe739;</i>
                        <input type="text" class="input-txt ele-phone" placeholder="请输入手机号"/>

                    </div>
                    <p class="error-tip">请输入正确的手机号</p>
                </div>
                
				<div class="input-container">
	                <div class="input-div">
	                    <i class="input-icon iconfont" style="font-size: 18px">&#xe731;</i>
	                    <input type="text" class="input-txt ele-code" placeholder="请输入验证码"/>
	                    <span style="display: inline-block;line-height: 50px;right: 10px;top: 0px;position: absolute;color: #666" id="code-span">获取验证码</span>
	                </div>
	                <p class="error-tip">请输入正确的验证码</p>
	            </div>
               <!-- <div class="input-container">
                    <div class="input-div">
                        <i class="input-icon iconfont">&#xe738;</i>
                        <i class="input-select-arrow iconfont">&#xe736;</i>
                        <select class="ele-subject">
                            <option value="-1">请选择试听的学科</option>
                            <option value="2">数学</option>
                            <option value="3">英语</option>
                            <option value="4">化学</option>
                            <option value="5">物理</option>
                            <option value="1">语文</option>
                        </select>
                    </div>
                    <p class="error-tip">请选择试听的学科</p>
                </div>-->
                <p class="form-btn" data-enable="1">点击免费领取课程</p>
                <p class="private-tip"><i class="iconfont">&#xe731;</i>理优保护您的隐私</p>
            </div>
        </div>
    </div>
</section>