<!-- 头部banner图模块 -->
<header>
    <img src="img/pic_logo.png"/>
</header>
<!--<hr>-->
<!-- 下拉搜索框模块 -->
<nav>
    <p>记录学员们的点滴，在未来的某一天，作为彼此的回忆</p>
    <!--<div class="selectDiv">-->
        <!--<div class="selectDivBox">-->
            <!--<select name="" id="grade" >-->
                <!--<option value="-1">年级</option>-->
                <!--<option value="101">小一</option>-->
                <!--<option value="102">小二</option>-->
                <!--<option value="103">小三</option>-->
                <!--<option value="104">小四</option>-->
                <!--<option value="105">小五</option>-->
                <!--<option value="106">小六</option>-->
                <!--<option value="201">初一</option>-->
                <!--<option value="202">初二</option>-->
                <!--<option value="203">初三</option>-->
                <!--<option value="301">高一</option>-->
                <!--<option value="302">高二</option>-->
                <!--<option value="303">高三</option>-->
            <!--</select>-->
            <!--<img src="img/Shape2.png" alt="" class="selectedImg">-->
        <!--</div>-->
        <!--<div class="selectDivBox">-->
            <!--<select name="" id="subject">-->
                <!--<option value="0">科目</option>-->
                <!--<option value="1">语文</option>-->
                <!--<option value="2">数学</option>-->
                <!--<option value="3">英语</option>-->
                <!--<option value="4">物理</option>-->
                <!--<option value="5">化学</option>-->
                <!--<option value="6">生物</option>-->
                <!--<option value="7">政治</option>-->
                <!--<option value="8">历史</option>-->
                <!--<option value="9">地理</option>-->
                <!--<option value="10">科学</option>-->
                <!--<option value="11">教育学</option>-->
            <!--</select>-->
            <!--<img src="img/Shape2.png" alt="" class="selectedImg">-->
        <!--</div>-->
        <!--<div class="selectDivBox select3">-->
            <!--<select name="" id="test_type" class="select3">-->
                <!--<option value="-1">考试类型</option>-->
                <!--<option value="1">期中考试</option>-->
                <!--<option value="2">期末考试</option>-->
                <!--<option value="3">中考</option>-->
                <!--<option value="4">高考</option>-->
                <!--<option value="5">日常考情</option>-->
                <!--<option value="6">升学考</option>-->
            <!--</select>-->
            <!--<img src="img/Shape2.png" alt="" class="selectedImg">-->
        <!--</div>-->
        <!--<button class="searchIng">搜索</button>-->
    <!--</div>-->
</nav>
<!-- 表格模块 -->
<table cellpadding="0" cellspacing="0" class="table2" align="center">
    <thead>
    <tr align="center">
        <th width="50%" class="td2">标题</th>
        <th width="50%" class="">日期</th>
    </tr>
    </thead>
    <tbody id="adminTbody">
    </tbody>

</table>
<!-- 页码模块 -->
<ul id="barcon" class="barcon" >
</ul>
<!-- 轮播图模块  -->
<div id="carousel">
    <!--<div id="slide" class="slide" alt="star" style="height: 179.2px;">-->
        <!--&lt;!&ndash; 轮播图片数量jquery.min.js可自行增减 &ndash;&gt;-->
        <!--<div class="img img2 img1" data-slide-imgid="0" onclick="left()"><img src="image/1.png"></div>-->
        <!--<div class="img img3 img2" data-slide-imgid="1" onclick="left()"><img src="image/2.png"></div>-->
        <!--<div class="img img4 img3" data-slide-imgid="2" onclick="left()"><img src="image/3.png"></div>-->
        <!--&lt;!&ndash; <div class="img img5 img4" data-slide-imgid="3" onclick="right()"><img src="image/4.png"></div> &ndash;&gt;-->
        <!--&lt;!&ndash; <div class="img img1 img5" data-slide-imgid="4" onclick="right()"><img src="image/5.png"></div> &ndash;&gt;-->
    <!--</div>-->
</div>
<!--<div id="carouselBox">-->
    <!--<div id="carousel">-->
        <!--&lt;!&ndash;<img src="img/banner1.jpg" alt="">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="img/banner2.jpg" alt="">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="img/banner4.jpg" alt="">&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->