<section>
    <img src="img/bg5.png" alt="">
    <!--<img src="img/img5.png" alt="">-->
    <button class='btn3' onclick='getLoc()'></button
</section>
<!--<script src="js/share-suc.js"></script>-->
<script src="http://wx-parent-web.leo1v1.com/wx-Parent-award/js/share-suc.js"></script>