
<!--<link rel="stylesheet" href="css/demo.css"/>-->
<!--<script src="js/awardRotate.js"></script>-->
<link rel="stylesheet" href="http://wx-parent-web.leo1v1.com/wx-Parent-award/css/demo.css"/>
<script src="http://wx-parent-web.leo1v1.com/wx-Parent-award/js/awardRotate.js"></script>
<section>
    <img src="img/bg4.png" alt="">
    <div class="turntable-bg">
        <div class="pointer"><img src="img/img3.png" alt="pointer"/></div>
        <div class="rotate" ><img id="rotate" src="img/img4.png" alt="turntable"/></div>
        <div class="btn2"></div>
    </div>
<div class="marqueeDiv">

</div>
    <!--<div class="container">-->
        <!--<div id="box" class="box" data-deg="162">-->
            <!--<div class="outer KinerLottery KinerLotteryContent" style="transition: none; transform: rotate(198deg);">-->
                <!--<img src="img/img4.png">-->
            <!--</div>-->
            <!--&lt;!&ndash; 大专盘分为三种状态：活动未开始（no-start）、活动进行中(start)、活动结束(completed),可通过切换class进行切换状态，js会根据这3个class进行匹配状态 &ndash;&gt;-->
            <!--<div class='inner KinerLotteryBtn start doing'></div>-->
        <!--</div>-->
    <!--</div>-->
</section>
<!--<script src="js/leo.js"></script>-->
<!--<script src="js/share-award.js"></script>-->
<script src="http://wx-parent-web.leo1v1.com/wx-Parent-award/js/share-award.js"></script>