<section class="container-total-box">
    <div class="login_container">
        <img class="login-img-suc" src="img/login/login-suc.svg" alt="">
        <p class="login-container-p">恭喜您绑定成功</p>
        <p class="login-container-loca">
            <span>3</span>s后自动跳转到个人中心
        </p>
    </div>
</section>
<link rel="stylesheet" href="css/login.css">
<script src="js/login/login-suc.js"></script>