<div class="container-total-box">
	<div class="zp-box">
		<div class="dp-box">
			<img src="img/award/award-bg1.png" class="g-lottery-img">
		</div>
		<div class="zhizhen">
			<span id="cishu">0</span>次
			<!--<img src="img/award/pointer.svg">-->
			<!--<div id="cishu-text"><span id="cishu">0</span>次</div>-->
		</div>
	</div>
	<div class="btnAwardBox">
		<button class='btnAward'>抽奖</button>
	</div>
	<!--遮罩&弹框-->
	<div class="zz"></div>
	<!-- 抽到奖励弹框 -->
	<div class="jl-tk">
		<!--<p class='texts'><img src='img/award/img1.svg'></p>-->
		<!--<p class='ok-img'>知道了</p>-->
	</div>
	<div class="rule-tips">
		<h4>抽奖规则</h4>
		<ul>
			<li>1、每位会员每日有1次免费抽奖的机会</li>
			<li>2、每日邀请1名学员可额外获得1次抽奖机会；邀请1名会员可额外获得一次抽奖机会（每位学员每日最高有3次机会）</li>
			<li>3、抽奖奖励可与其他奖励一起提现，也可积累满25元后提现</li>
			<li>4、抽奖获得的现金会直接在“可提现”中，以供会员提现</li>
		</ul>
	</div>
</div>

</div>
	<link rel="stylesheet" href="css/award.css">
	<script type="text/javascript" src="js/award/jquery.rotate.js"></script>
	<script type="text/javascript" src="js/award/award.js"></script>