<section class="container-total-box">
    <div class='aui-tab' id='tab'>
        <div class='aui-tab-item aui-active' onclick='ajaxTabContent(1)'>我的邀请</div>
        <div class='aui-tab-item' onclick='ajaxTabContent(2)'>会员邀请</div>
        </div>
    <div class='tab-div-container'>
        <div class='tab-div-first'>
            <ul class='mine-invite'></ul>
            </div>
        <div class='tab-div-second'>
            <ul class='member-invite'></ul>
            </div>
        </div>
</section>
<link rel="stylesheet" href="css/total-summary.css">
<script src="js/total/total-summary-total-invite.js"></script>
<!--<script src="js/total/total-summary-total.js"></script>-->