<section class='container-total-box'>
    <!--<div class='tabbable' id='tabs-250138'>-->
        <!--<ul class='nav nav-tabs'>-->
            <!--<li class='active'>-->
                <!--<a href='#panel-756045' data-toggle='tab'>我的邀请</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href='#panel-985168' data-toggle='tab'>会员邀请</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<div class='tab-content'>-->
            <!--<div class='tab-pane active' id='panel-756045'>-->
                <!--<ul>-->
                    <!--<li class='tab-content-lis' >-->
                        <!--<div class='tab-content-lis-box'>-->
                            <!--<div class='total-cash-containers'>-->
                                <!--<p>姓名：<span>苦瓜</span></p>-->
                                <!--<p>时间：<span>2017.08.16</span></p>-->
                                <!--<p>购买课程：<span>3000元</span></p>-->
                                <!--<p>收入：<span class='spanColors'>300元</span></p>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;<div>&ndash;&gt;-->
                            <!--<img class='total-bottom' src='img/total/total-arrow-bottom.svg' alt=''>-->
                            <!--<img class='total-top' src='img/total/total-arrow-top.svg' alt=''>-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->
                        <!--<div class='tab-content-lis-div'>-->
                            <!--<img src='img/total/total/cash/img3.png'>-->
                            <!--<p>上课两节后可提现20%，上课8节可全部提现</p>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class='tab-pane' id='panel-985168'>-->
                <!--<ul>-->
                    <!--<li class='tab-content-lis' >-->
                        <!--<div class='tab-content-lis-box'>-->
                            <!--<div class='total-cash-containers'>-->
                                <!--<p>姓名：<span>苦瓜</span></p>-->
                                <!--<p>时间：<span>2017.08.16</span></p>-->
                                <!--<p>购买课程：<span>3000元</span></p>-->
                                <!--<p>收入：<span class='spanColors'>300元</span></p>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;<div>&ndash;&gt;-->
                            <!--<img class='total-bottom' src='img/total/total-arrow-bottom.svg' alt=''>-->
                            <!--<img class='total-top' src='img/total/total-arrow-top.svg' alt=''>-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->
                        <!--<div class='tab-content-lis-div'>-->
                            <!--<img src='img/total/total/cash/img8.png'>-->
                            <!--<p>上课两节后可提现20%，上课8节可全部提现</p>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</section>


<link rel='stylesheet' href='css/total-summary.css'>
<!--<script src='js/total/total-summary-total.js'></script>-->
<script src='js/total/total-summary-total-cash.js'></script>