<section class="container-total-box">
    <!--<p class='invite-first-num'>总数：<span>0.05</span>元</p>-->
    <!--<ul>-->
        <!--<li class='tab-content-lis'>-->
            <!--<table>-->
                <!--<tr>-->
                    <!--<td><p>活动：</p></td>-->
                    <!--<td><p>大转盘</p></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><p>时间：</p></td>-->
                    <!--<td><p>2017.08.16</p></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><p>奖励：</p></td>-->
                    <!--<td class='total-invite-money'><p>0.05元</p></td>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</li>-->
    <!--</ul>-->
</section>


<link rel="stylesheet" href="css/total-summary.css">
<script src="js/total/total-summary-total-activity.js"></script>
<!--<script src="js/total/total-summary-total.js"></script>-->