<section class="containers">
    <section class="containersBox">
        <section class="cash-banner-box">
            <section class="cash-banner">
                <!--<img src="img/cash/cash-net.png" alt="">-->
            </section>
        </section>
        <div class="aui-content aui-margin-b-15">
            <ul class="aui-list aui-form-list">
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            姓名
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" class="userPayName" placeholder="请输入姓名">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            支付宝账号
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" class="userPayfor" placeholder="请输入支付宝账号">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="cashIng">
        <button class="buttons"><p>确认提现</p></button>
    </section>
</section>
<link rel="stylesheet" href="css/cash-withdrawal.css">
<script src="js/total/total-summary-select-net.js"></script>