<section class="container-already-box">
    <!--<img src="img/total/already/bg.png" alt="">-->
    <section class="total-already-box">
        <img src="img/total/already/img1.svg" alt="">
        <div>
            <table>

            </table>
        </div>
        <!--<img src="img/total/already/img2.svg" class="tables-imgbg">-->
        <div class="tables-imgbg"></div>
    </section>
</section>


<link rel="stylesheet" href="css/total-summary-already.css">

<script src="js/total/total-summary-already.js"></script>