<section class="container-total-box">
    <!--<ul>-->
        <!--<li class='tab-content-lis'>-->
            <!--<table>-->
                <!--<tr>-->
                    <!--<td>活动：</td>-->
                    <!--<td>大转盘</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>时间：</td>-->
                    <!--<td>2017.08.16</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>奖励：</td>-->
                    <!--<td class='total-invite-money'>0.05元</td>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</li>-->
    <!--</ul>-->
</section>


<link rel="stylesheet" href="css/total-summary.css">
<script src="js/total/total-summary-available-activity.js"></script>
<!--<script src="js/total/total-summary-total.js"></script>-->