<section>
    <div onclick="clickFunc(51)">
        <img src="img/cash/img-card.svg" alt="">
        <p>提现到银行卡</p>
    </div>
    <div onclick="clickFunc(52)">
        <img src="img/cash/img-net.svg" alt="">
        <p>提现到支付宝</p>
    </div>
</section>


<link rel="stylesheet" href="css/cash-select.css">

<script src="js/total/total-summary.js"></script>