<section class="containers">
    <section class="containersBox">
        <section class="cash-banner-box">
            <section class="cash-banner">
            </section>
        </section>
        <div class="aui-content aui-margin-b-15">
            <ul class="aui-list aui-form-list">
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            持卡人
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" class="cardUserName" placeholder="请输入姓名">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            身份证号
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" class="cardUserId" placeholder="请输入身份证号">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            银行卡类型
                        </div>
                        <div class="aui-list-item-input">
                            <select class="cardUserType">
                                <!--<option value="0">选择银行卡类型</option>-->
                                <option value="中国建设银行">中国建设银行</option>
                                <option value="中国工商银行">中国工商银行</option>
                                <option value="中国农业银行">中国农业银行</option>
                                <option value="交通银行">交通银行</option>
                                <option value="招商银行">招商银行</option>
                                <option value="中国银行">中国银行</option>
                            </select>
                            <!--<input type="text" placeholder="选择银行卡类型">-->
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            支行名称
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" class="cardUserBankName" placeholder="请输入支行名称">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            开户省
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" class="cardUserBankProvince" placeholder="请输入开户省">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            开户市
                        </div>
                        <div class="aui-list-item-input">
                            <input type="text" class="cardUserBankCity" placeholder="请输入开户市">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            卡号
                        </div>
                        <div class="aui-list-item-input">
                            <input type="number" class="cardUserNum" placeholder="请输入银行卡号">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-label">
                            预留手机号
                        </div>
                        <div class="aui-list-item-input">
                            <input type="number" class="cardUserPhone" placeholder="请输入预留手机号">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="cashIng">
        <button class="buttons"><p>确认提现</p></button>
    </section>
</section>
<link rel="stylesheet" href="css/cash-withdrawal.css">
<script src="js/total/total-summary-select-bank.js"></script>