<section class='container-total-box'>
    <!--<section class='cashIngBox' onclick='clickFunc(21)'>-->
        <!--<img src='img/total/total/img1.svg' alt=''>-->
        <!--<p class='moneyTip'>邀请奖励</p>-->
    <!--</section>-->
    <!--<section class='cashIngBox' onclick='clickFunc(22)'>-->
        <!--<img src='img/total/total/img2.svg' alt=''>-->
        <!--<p class='moneyTip'>佣金奖励</p>-->
    <!--</section>-->
    <!--<section class='cashIngBox' onclick='clickFunc(23)'>-->
        <!--<img src='img/total/total/img3.svg' alt=''>-->
        <!--<p class='moneyTip'>活动奖励</p>-->
    <!--</section>-->
</section>


<link rel='stylesheet' href='css/total-summary.css'>

<script src="js/total/total-summary-availables.js"></script>
<script src='js/total/total-summary.js'></script>