<section>
    <img src="img/bg2.png" alt="">
</section>
<!--<script src="js/share.js"></script>-->
<script src="//wx-parent-web.leo1v1.com/wx-Parent-welfare/js/leo.js"></script>
<script src="//wx-parent-web.leo1v1.com/wx-Parent-welfare/js/share.js"></script>