<section>
    <img src="img/bg2.png" alt="">
</section>
<!--<div style="position:absolute;width: 100%;height: 100%;background: #000;opacity: 0.2" ></div>-->


<script src="js/leo.js"></script>
<script src="js/share.js"></script>
<!--<link rel="stylesheet" href="http://wx-activity.leo1v1.com/wx-activity/css/share.css">-->
<!--<script src="http://wx-parent-web.leo1v1.com/wx-activity/js/leo.js"></script>-->
<!--<script src="http://wx-parent-web.leo1v1.com/wx-activity/js/share.js"></script>-->