<section class='bg1'>
    <img src='img/bg1.png' alt='' onclick='getLoc()'>
   <!--<button class='btn1' onclick='getLoc()'></button>-->
</section>
<!--<script src="js/index.js"></script>-->
<script src="http://wx-parent-web.leo1v1.com/wx-activity-book/js/index.js"></script>