<section>
    <img src="img/bg3.png" alt="">
</section>

<!--<script src="js/leo.js"></script>-->
<!--<script src="js/shareSuc.js"></script>-->
<script src="http://wx-parent-web.leo1v1.com/wx-activity-book/js/leo.js"></script>
<script src="http://wx-parent-web.leo1v1.com/wx-activity-book/js/shareSuc.js"></script>