<section>
    <img src="img/bg2.png" >
</section>
<!--<div style="position:absolute;width: 100%;height: 100%;background: #000;opacity: 0.2" ></div>-->


<!--<script src="js/leo.js"></script>-->
<!--<script src="js/share.js"></script>-->
<script src="http://wx-parent-web.leo1v1.com/wx-activity-book/js/leo.js"></script>
<script src="http://wx-parent-web.leo1v1.com/wx-activity-book/js/share.js"></script>